<html>
    <head><link rel="stylesheet" href="/css/main.css"/></head>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
    
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item" href="/city">
              City
            </a>
      
            <a class="navbar-item" href="/country">
              Contry
            </a>

            <a class="navbar-item">
              Suprise
            </a>
            
          </div>
        </div>
      </div>
    </nav>
</html>